@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content {
        padding: 20px;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Household Data</h4>
                    <div>
                        <button id="exportCSV" class="btn btn-primary btn-sm">Download CSV</button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- No table displayed as data will be downloaded directly -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Handle CSV export button click
        $("#exportCSV").click(function () {
            // Redirect to the DownloadHouseholdDataCSV action to trigger CSV download
            window.location.href = '@Url.Action("HouseholdData", "Household")';
        });
    });
</script>